/* ----- GLOBAL CONFIGURATION ----- */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: white;
$secondary-background-color: rgba(#000000, .03);

$title-font: 'Shrikhand', sans-serif;
$text-font: 'Roboto', sans-serif;

$tablet-min-width: 768px;
$desktop-min-width: 1024px;