@use 'config';

body {

    margin: 0;
    font-family: config.$text-font;
    background-color: config.$background-color;

    p {
        font-weight: lighter;
        font-size: 20px;
        color: rgba(#000000, .6);
    }

    header {
        margin: 0;

        .logo {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 10px;
            width: 100%;
            box-shadow: 5px 0 5px 5px rgba(#000000, .1);

            img {
                height: 35px;
            }
        }

        h1 {
            font-weight: bolder;
            font-size: 35px;
            font-weight: 400;
        }

    }

    main {

        .title {
            flex: 100%;
            margin: 25px;
        }

        .like {
            font-size: 35px;
            text-align: center;
            color: transparent;
            padding-right: 10px;

            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: rgba(#000000, .6);

            background-size: 35px 35px;
            background-position: 0 35px;
            background-clip: text;
            -webkit-background-clip: text;
            background-repeat: no-repeat;
            background-image: linear-gradient(0deg, config.$primary-color, config.$secondary-color);

            transition: background-position .5s ease-in-out;
            -webkit-transition: background-position .3s ease-in-out;

            &:hover {
                transition: background-position .3s ease-in;
                -webkit-transition: background-position .3s ease-in;
                -webkit-text-stroke-color: config.$primary-color;
                background-position: 0 0;

                -webkit-text-stroke-color: config.$primary-color;

                animation: pulse .3s ease-in-out;
                animation-delay: .3s;
            }

            @keyframes pulse {
                0% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.1);
                }

                95% {
                    transform: scale(.8);
                }

                100% {
                    transform: scale(1);
                }
            }

        }

        .card {
            background-color: config.$secondary-background-color;
            box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, .1);
            border-radius: 20px;
            margin: 15px;
        }

        footer {
            display: flex;
            flex-direction: column;
            background-color: rgba(#000000, .85);
            padding: 30px;
            padding-bottom: 35px;
            color: white;

            .logo {
                font-size: 25px;
                font-family: config.$title-font;
                padding-bottom: 13px;
            }

            a {
                color: white;
                margin-top: 13px;
                text-decoration: none;
                font-size: 20px;

                i {
                    width: 20px;
                    margin-right: 10px;
                    font-size: 17px;
                }
            }

        }
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: rgba(#000000, .85);
        padding: 30px;
        padding-bottom: 35px;
        color: white;

        .logo {
            font-size: 25px;
            font-family: config.$title-font;
            padding-bottom: 13px;
        }

        a {
            color: white;
            margin-top: 13px;
            text-decoration: none;
            font-size: 20px;

            i {
                width: 20px;
                margin-right: 10px;
                font-size: 17px;
            }
        }

    }

}