@use 'config';

body {

    header {
        nav {
            position: relative;

            .back {
                position: absolute;
                top: 20px;
                left: 30px;
                font-size: 30px;
                color: black;
            }
        }
    }

    main {

        #cover {
            object-fit: cover;
            position: relative;
            z-index: 1;

            img {
                height: 300px;
                width: 100%;
                object-fit: cover;

            }
        }

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            max-width: 800px;
            padding-right: 20px;

            h1 {
                font-family: config.$title-font;
                font-size: 35px;
            }

        }

        #menu {
            position: relative;
            z-index: 8;
            background-color: config.$secondary-background-color;
            padding-top: 15px;
            padding-bottom: 50px;
            margin-top: -30px;
            border-radius: 30px 30px 0 0;

            h2 {
                font-weight: lighter;
                text-transform: uppercase;
                position: relative;
                color: rgba(0, 0, 0, .7);

                &::after {
                    position: absolute;
                    content: " ";
                    width: 60px;
                    height: 4px;
                    background-color: config.$tertiary-color;
                    bottom: -7px;
                    left: 0;
                }
            }
        }
    }
}